body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

div#canvas-frame {
    border: 1px solid;
    cursor: pointer;
    width: 500px;
    height: 500px;
    text-align: center;
}

div#canvas-frame p {
    line-height: 400px;
}