<div id="wrapper">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to 'RCUBE', root_path, :class => 'navbar-brand', :id => 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'home', root_path, :class => 'nav-link'%>
        <!--<a class="nav-link" href="temp">home <span class="sr-only">(current)</span></a>-->
      </li>
      <li class="nav-item">
        <%= link_to 'login', rubik_login_path, :class => 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'setting', rubik_setting_path, :class => 'nav-link'%>
      </li>
    </ul>
  </div>
</nav>

<div id="canvas-frame"><p>loading...</p></div>
<span id="time" class="rounded border border-primary d-inline-block text-right bg-secondary" disabled>00'00"000</span>
<button type="button" id="shuffle" class="btn btn-primary">shuffle</button>
<div id="log"></div>

</div>

