<h1>rubik's cube</h1>
<div id="canvas-frame"></div>
<button onclick="turn('z', 3, -1);">↓</button>
<button onclick="turn('z', 3, 1);">↑</button>
<button onclick="turn('y', 3, -1);">←</button>
<button onclick="turn('y', 3, 1);">→</button>
<button onclick="turn('x', 3, -1);">↑</button>
<button onclick="turn('x', 3, 1);">↓</button><br>

<button onclick="turn('z', 2, -1);">↓</button>
<button onclick="turn('z', 2, 1);">↑</button>
<button onclick="turn('y', 2, -1);">←</button>
<button onclick="turn('y', 2, 1);">→</button>
<button onclick="turn('x', 2, -1);">↑</button>
<button onclick="turn('x', 2, 1);">↓</button><br>

<button onclick="turn('z', 1, -1);">↓</button>
<button onclick="turn('z', 1, 1);">↑</button>
<button onclick="turn('y', 1, -1);">←</button>
<button onclick="turn('y', 1, 1);">→</button>
<button onclick="turn('x', 1, -1);">↑</button>
<button onclick="turn('x', 1, 1);">↓</button><br>

<button onclick="turn('z', 0, -1);">↓</button>
<button onclick="turn('z', 0, 1);">↑</button>
<button onclick="turn('y', 0, -1);">←</button>
<button onclick="turn('y', 0, 1);">→</button>
<button onclick="turn('x', 0, -1);">↑</button>
<button onclick="turn('x', 0, 1);">↓</button><br>

